<ul class="nav nav-tabs px-4 px-lg-5 content-tabset justify-content-md-start justify-content-end">
  <!---->
  <li class="nav-item"><a class="nav-link" routerLink="/dash" routerLinkActive="active"> Dash </a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/projects" routerLinkActive="active"> Projects </a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/users" 
    [queryParams]="{page: 1, order: 'newest'}"
    routerLinkActive="active"> User </a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active"> Login </a></li>
  
  <!---->
</ul>

<router-outlet></router-outlet>